<p class="cattitle">Largest <a href="asteroid.html">asteroids</a> (over 200 km in diameter)</p>
<p class="cath">Over 500 km</p>
<div class="subcat">
    <ul>
        <li>
            <a href="ceres.html">1 Ceres</a>
        </li>
        <li>
            <a href="vesta.html">4 Vesta</a>
        </li>
        <li>
            <a href="pallas.html">2 Pallas</a>
        </li>
    </ul>
</div>
<p class="cath">Between 300 and 500 km</p>
<div class="subcat">
    <ul>
        <li>
            <a href="hygiea.html">10 Hygiea</a>
        </li>
        <li>
            <a href="interamnia.html">704 Interamnia</a>
        </li>
        <li>
            <a href="europa-asteroid.html">52 Europa</a>
        </li>
    </ul>
</div>
<p class="cath">Between 200 and 300 km</p>
<div class="subcat">
    <ul>
        <li>
            <a href="davida.html">511 Davida</a>
        </li>
        <li>
            <a href="sylvia.html">87 Sylvia</a>
        </li>
        <li>
            <a href="eunomia.html">15 Eunomia</a>
        </li>
        <li>
            <a href="euphrosyne.html">31 Euphrosyne</a>
        </li>
        <li>
            <a href="cybele.html">65 Cybele</a>
        </li>
        <li>
            <a href="hektor.html">624 Hektor</a>
        </li>
        <li>
            <a href="juno-asteroid.html">3 Juno</a>
        </li>
        <li>
            <a href="patientia.html">451 Patientia</a>
        </li>
        <li>
            <a href="camilla.html">107 Camilla</a>
        </li>
        <li>
            <a href="bamberga.html">324 Bamberga</a>
        </li>
        <li>
            <a href="psyche.html">16 Psyche</a>
        </li>
        <li>
            <a href="thisbe.html">88 Thisbe</a>
        </li>
        <li>
            <a href="doris.html">48 Doris</a>
        </li>
        <li>
            <a href="fortuna.html">19 Fortuna</a>
        </li>
        <li>
            <a href="hermione.html">121 Hermione</a>
        </li>
        <li>
            <a href="themis.html">24 Themis</a>
        </li>
        <li>
            <a href="aurora.html">94 Aurora</a>
        </li>
        <li>
            <a href="amphitrite.html">29 Amphitrite</a>
        </li>
        <li>
            <a href="egeria.html">13 Egeria</a>
        </li>
    </ul>
</div>
