<p class="cattitle">Largest <a href=".html">asteroids</a> (over 200 km in diameter)</p>
<p class="cath">Over 500 km</p>
<div class="subcat">
    <ul>
        <li>
            <a href="ceres.html">1 Ceres</a>
        </li>
        <li>
            <a href="vesta.html">4 Vesta</a>
        </li>
        <li>
            <a href="pallas.html">2 Pallas</a>
        </li>
    </ul>
</div>
<p class="cath">Between 300 and 500 km</p>
<div class="subcat">
    <ul>
        <li>
            <a href="hygiea.html">10 Hygiea</a>
        </li>
        <li>
            704 Interamnia
        </li>
        <li>
            52 Europa
        </li>
    </ul>
</div>
<p class="cath">Between 200 and 300 km</p>
<div class="subcat">
    <ul>
        <li>
            511 Davida
        </li>
        <li>
            87 Sylvia
        </li>
        <li>
            15 Eunomia
        </li>
        <li>
            31 Euphrosyne
        </li>
        <li>
            65 Cybele
        </li>
        <li>
            624 Hektor
        </li>
        <li>
            3 Juno
        </li>
        <li>
            451 Patientia
        </li>
        <li>
            107 Camilla
        </li>
        <li>
            324 Bamberga
        </li>
        <li>
            16 Psyche
        </li>
        <li>
            88 Thisbe
        </li>
        <li>
            48 Doris
        </li>
        <li>
            19 Fortuna
        </li>
        <li>
            121 Hermione
        </li>
        <li>
            24 Themis
        </li>
        <li>
            94 Aurora
        </li>
        <li>
            29 Amphitrite
        </li>
        <li>
            13 Egeria
        </li>
    </ul>
</div>
