<p class="cattitle">Minor planets</p>
<p class="cath"><a href="asteroid.html">Asteroids</a></p>
<div class="subcat">
    <p class="cath"><a href="nea.html">Near-Earth asteroids</a></p>
    <div class="subsubcat">
        <ul>
            <li>
                Amor group
            </li>
            <li>
                Apollo group
            </li>
            <li>
                Aten group
            </li>
            <li>
                Atira group
            </li>
        </ul>
    </div>
    <p class="cath"><a href="asteroid-belt.html">Main belt</a></p>
    <div class="subsubcat">
        <ul>
            <li>
                Inner belt
            </li>
            <li>
                Medium belt
            </li>
            <li>
                Outer belt
            </li>
        </ul>
    </div>
    <p class="cath">Jupiter trojans</p>
    <div class="subsubcat">
        <ul>
            <li>
                Greek camp
            </li>
            <li>
                Trojan camp
            </li>
        </ul>
    </div>
    <p class="cath">Other</p>
    <div class="subsubcat">
        <ul>
            <li>
                Vulcanoids (hypothetical)
            </li>
            <li>
                ꞌAylóꞌchaxnim group
            </li>
            <li>
                Terrestrial planet <a href="trojan.html">trojans</a> (Venus
            </li>
            <li>
                Earth
            </li>
            <li>
                Mars)
            </li>
            <li>
                Mars crossers
            </li>
            <li>
                Hilda asteroids
            </li>
            <li>
                Thule asteroids
            </li>
        </ul>
    </div>
</div>
<p class="cath">Distant minor planets (within Neptune's orbit)</p>
<div class="subcat">
    <ul>
        <li>
            <a href="centaur.html">Centaurs</a>
        </li>
        <li>
            Damocloids
        </li>
        <li>
            Outer <a href="trojan.html">trojans</a> (Saturn
        </li>
        <li>
            Uranus
        </li>
        <li>
            Neptune)
        </li>
    </ul>
</div>
<p class="cath"><a href="tno.html">Trans-Neptunian objects</a></p>
<div class="subcat">
    <p class="cath">Kuiper belt</p>
    <div class="subsubcat">
        <ul>
            <li>
                Cubewanos
            </li>
            <li>
                Resonant
            </li>
            <li>
                Plutino resonant
            </li>
        </ul>
    </div>
    <p class="cath">Scattered disc</p>
    <div class="subsubcat">
        <ul>
            <li>
            </li>
        </ul>
    </div>
    <p class="cath">Extreme TNOs</p>
    <div class="subsubcat">
        <ul>
            <li>
                Extreme scattered disc objects
            </li>
            <li>
                Detached objects
            </li>
            <li>
                Sednoids
            </li>
        </ul>
    </div>
</div>
