<p class=cattitle><a href="natural-satellite.html">Natural satellites</a></p>
<p class="cath">Earth</p>
<div class="subcat">
    <ul>
        <li>
            <a href="moon.html">Moon</a>
        </li>
    </ul>
</div>
<p class="cath"><a href="satellites-of-mars.html">Mars</a></p>
<div class="subcat">
    <ul>
        <li>
            <a href="phobos.html">Phobos</a>
        </li>
        <li>
            <a href="deimos.html">Deimos</a>
        </li>
    </ul>
</div>
<p class="cath"><a href="satellites-of-jupiter.html">Jupiter</a></p>
<div class="subcat">
    <p class="cath">Galilean moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                <a href="ganymede.html">Ganymede</a>
            </li>
            <li>
                <a href="callisto.html">Callisto</a>
            </li>
            <li>
                <a href="io.html">Io</a>
            </li>
            <li>
                <a href="europa.html">Europa</a>
            </li>
        </ul>
    </div>
    <p class="cath">Inner moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                Metis
            </li>
            <li>
                Adrastea
            </li>
            <li>
                <a href="amalthea.html">Amalthea</a>
            </li>
            <li>
                Thebe
            </li>
        </ul>
    </div>
    <p class="cath">Himalia group</p>
    <div class="subsubcat">
        <ul>
            <li>
                Leda
            </li>
            <li>
                Ersa
            </li>
            <li>
                Himalia
            </li>
            <li>
                Pandia
            </li>
            <li>
                Lysithea
            </li>
            <li>
                Elara
            </li>
            <li>
                Dia
            </li>
            <li>
                (2 more)
            </li>
        </ul>
    </div>
    <p class="cath">Carpo group</p>
    <div class="subsubcat">
        <ul>
            <li>
                S/2018 J 4
            </li>
            <li>
                Carpo
            </li>
        </ul>
    </div>
    <p class="cath">Ananke group</p>
    <div class="subsubcat">
        <ul>
            <li>
                Euporie
            </li>
            <li>
                Eupheme
            </li>
            <li>
                Mneme
            </li>
            <li>
                Euanthe
            </li>
            <li>
                Harpalyke
            </li>
            <li>
                Orthosie
            </li>
            <li>
                Helike
            </li>
            <li>
                Praxidike
            </li>
            <li>
                Thelxinoe
            </li>
            <li>
                Thyone
            </li>
            <li>
                Ananke
            </li>
            <li>
                Iocaste
            </li>
            <li>
                Hermippe
            </li>
            <li>
                (14 more)
            </li>
        </ul>
    </div>
    <p class="cath">Pasiphae group</p>
    <div class="subsubcat">
        <ul>
            <li>
                Philophrosyne
            </li>
            <li>
                Eurydome
            </li>
            <li>
                Hegemone
            </li>
            <li>
                Pasiphae
            </li>
            <li>
                Sponde
            </li>
            <li>
                Megaclite
            </li>
            <li>
                Cyllene
            </li>
            <li>
                Sinope
            </li>
            <li>
                Aoede
            </li>
            <li>
                Autone
            </li>
            <li>
                Callirhoe
            </li>
            <li>
                Kore
            </li>
            <li>
                (6 more)
            </li>
        </ul>
    </div>
    <p class="cath">Carme group</p>
    <div class="subsubcat">
        <ul>
            <li>
                Pasithee
            </li>
            <li>
                Chaldene
            </li>
            <li>
                Isonoe
            </li>
            <li>
                Kallichore
            </li>
            <li>
                Erinome
            </li>
            <li>
                Kale
            </li>
            <li>
                Eirene
            </li>
            <li>
                Aitne
            </li>
            <li>
                Eukelade
            </li>
            <li>
                Arche
            </li>
            <li>
                Taygete
            </li>
            <li>
                Carme
            </li>
            <li>
                Herse
            </li>
            <li>
                Kalyke
            </li>
            <li>
                (17 more)
            </li>
        </ul>
    </div>
    <p class="cath">Other irregular moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                Themisto
            </li>
            <li>
                Valetudo
            </li>
        </ul>
    </div>
</div>
<p class="cath"><a href="satellites-of-saturn.html">Saturn</a></p>
<div class="subcat">
    <p class="cath">Major moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                <a href="titan.html">Titan</a>
            </li>
            <li>
                <a href="rhea.html">Rhea</a>
            </li>
            <li>
                <a href="iapetus.html">Iapetus</a>
            </li>
            <li>
                <a href="dione.html">Dione</a>
            </li>
            <li>
                <a href="tethys.html">Tethys</a>
            </li>
            <li>
                <a href="enceladus.html">Enceladus</a>
            </li>
            <li>
                <a href="mimas.html">Mimas</a>
            </li>
        </ul>
    </div>
    <p class="cath">Regular moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                S/2009 S 1
            </li>
            <li>
                Pan
            </li>
            <li>
                Daphnis
            </li>
            <li>
                Atlas
            </li>
            <li>
                Prometheus
            </li>
            <li>
                Pandora
            </li>
            <li>
                <a href="epimetheus.html">Epimetheus</a>
            </li>
            <li>
                <a href="janus.html">Janus</a>
            </li>
            <li>
                Aegaon
            </li>
            <li>
                Methone
            </li>
            <li>
                Anthe
            </li>
            <li>
                Pallene
            </li>
            <li>
                Telesto
            </li>
            <li>
                Calypso
            </li>
            <li>
                Helene
            </li>
            <li>
                Polydeuces
            </li>
            <li>
                <a href="hyperion.html">Hyperion</a>
            </li>
        </ul>
    </div>
    <p class="cath">Inuit group</p>
    <div class="subsubcat">
        <ul>
            <li>
                Kiviuq
            </li>
            <li>
                Ijiraq
            </li>
            <li>
                Paaliaq
            </li>
            <li>
                Tarqeq
            </li>
            <li>
                Siarnaq
            </li>
            <li>
                (31 more)
            </li>
        </ul>
    </div>
    <p class="cath">Norse group</p>
    <div class="subsubcat">
        <ul>
            <li>
                <a href="phoebe.html">Phoebe</a>
            </li>
            <li>
                Skathi
            </li>
            <li>
                Skoll
            </li>
            <li>
                Hyrrokkin
            </li>
            <li>
                Greip
            </li>
            <li>
                Mundilfari
            </li>
            <li>
                Gridr
            </li>
            <li>
                Bergelmir
            </li>
            <li>
                Jarnsaxa
            </li>
            <li>
                Narvi
            </li>
            <li>
                Suttungr
            </li>
            <li>
                Hati
            </li>
            <li>
                Eggther
            </li>
            <li>
                Farbauti
            </li>
            <li>
                Thrymr
            </li>
            <li>
                Bestla
            </li>
            <li>
                Angrboda
            </li>
            <li>
                Aegir
            </li>
            <li>
                Beli
            </li>
            <li>
                Gerd
            </li>
            <li>
                Gunnlod
            </li>
            <li>
                Skymir
            </li>
            <li>
                Alvaldi
            </li>
            <li>
                Kari
            </li>
            <li>
                Geirrod
            </li>
            <li>
                Fenrir
            </li>
            <li>
                Surtur
            </li>
            <li>
                Loge
            </li>
            <li>
                Ymir
            </li>
            <li>
                Thiazzi
            </li>
            <li>
                Fornjot
            </li>
            <li>
                (166 more)
            </li>
        </ul>
    </div>
    <p class="cath">Gallic group</p>
    <div class="subsubcat">
        <ul>
            <li>
                Albiorix
            </li>
            <li>
                Bebhionn
            </li>
            <li>
                Erriapus
            </li>
            <li>
                Tarvos
            </li>
            <li>
                (13 more)
            </li>
        </ul>
    </div>
</div>
<p class="cath"><a href="satellites-of-uranus.html">Uranus</a></p>
<div class="subcat">
    <p class="cath">Major moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                <a href="titania.html">Titania</a>
            </li>
            <li>
                <a href="oberon.html">Oberon</a>
            </li>
            <li>
                <a href="umbriel.html">Umbriel</a>
            </li>
            <li>
                <a href="ariel.html">Ariel</a>
            </li>
            <li>
                <a href="miranda.html">Miranda</a>
            </li>
        </ul>
    </div>
    <p class="cath">Regular moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                Cordelia
            </li>
            <li>
                Ophelia
            </li>
            <li>
                S/2025 U 1
            </li>
            <li>
                Bianca
            </li>
            <li>
                Cressida
            </li>
            <li>
                Desdemona
            </li>
            <li>
                Juliet
            </li>
            <li>
                Portia
            </li>
            <li>
                Rosalind
            </li>
            <li>
                Cupid
            </li>
            <li>
                Belinda
            </li>
            <li>
                Perdita
            </li>
            <li>
                <a href="puck.html">Puck</a>
            </li>
            <li>
                Mab
            </li>
        </ul>
    </div>
    <p class="cath">Irregular moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                Francisco
            </li>
            <li>
                Caliban
            </li>
            <li>
                Stephano
            </li>
            <li>
                S/2023 U 1
            </li>
            <li>
                Trinculo
            </li>
            <li>
                Sycorax
            </li>
            <li>
                Margaret
            </li>
            <li>
                Prospero
            </li>
            <li>
                Setebos
            </li>
            <li>
                Ferdinand
            </li>
        </ul>
    </div>
</div>
<p class="cath"><a href="satellites-of-neptune.html">Neptune</a></p>
<div class="subcat">
    <p class="cath">Triton</p>
    <div class="subsubcat">
        <ul>
            <li>
                <a href="triton.html">Triton</a>
            </li>
        </ul>
    </div>
    <p class="cath">Regular moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                Naiad
            </li>
            <li>
                Thalassa
            </li>
            <li>
                Despina
            </li>
            <li>
                Galatea
            </li>
            <li>
                Larissa
            </li>
            <li>
                Hippocamp
            </li>
            <li>
                <a href="proteus.html">Proteus</a>
            </li>
        </ul>
    </div>
    <p class="cath">Irregular moons</p>
    <div class="subsubcat">
        <ul>
            <li>
                Nereid
            </li>
            <li>
                Halimede
            </li>
            <li>
                Sao
            </li>
            <li>
                S/2002 N 5
            </li>
            <li>
                Laomeda
            </li>
            <li>
                Psamathe
            </li>
            <li>
                Neso
            </li>
            <li>
                S/2021 N 1
            </li>
        </ul>
    </div>
</div>
<p class="cath">Dwarf planets</p>
<div class="subcat">
    <ul>
        <li>
            <a href="satellites-of-pluto.html">Pluto</a> (<a href="charon.html">Charon</a>
        </li>
        <li>
            Nix
        </li>
        <li>
            Hydra
        </li>
        <li>
            Kerberos
        </li>
        <li>
            Styx)
        </li>
        <li>
            Eris (<a href="hyperion.html">Dysnomia</a>)
        </li>
        <li>
            Haumea (Hi'iaka
        </li>
        <li>
            Namaka)
        </li>
        <li>
            Makemake (moon)
        </li>
        <li>
            Gonggong (Xiangliu)
        </li>
        <li>
            Quaoar (Weywot)
        </li>
        <li>
            Orcus (Vanth)
        </li>
    </ul>
</div>
