<li>
    <a href="#DiscoveryOfTheAsteroidBelt">Discovery of the asteroid belt</a>
</li>
<li>
    <a href="#Groups">Groups</a>
</li>
<li>
    <a href="#AsteroidsOfTheAsteroidBelt">Asteroids of the asteroid belt</a>
    <ul class="subtoc">
        <li>
            <a href="#Ceres">Ceres</a>
        </li>
        <li>
            <a href="#Vesta">Vesta</a>
        </li>
        <li>
            <a href="#Pallas">Pallas</a>
        </li>
        <li>
            <a href="#Hygiea">Hygiea</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
