<li>
    <a href="#DiscoveryOfAsteroids">Discovery of asteroids</a>
</li>
<li>
    <a href="#Classification">Classification</a>
</li>
<li>
    <a href="#AsteroidPopulations">Asteroid populations</a>
    <ul class="subtoc">
        <li>
            <a href="#AsteroidBelt">Asteroid belt</a>
        </li>
        <li>
            <a href="#Trojans">Trojans</a>
        </li>
        <li>
            <a href="#NearEarthAsteroids">Near-Earth asteroids</a>
        </li>
        <li>
            <a href="#HildaTriangle">Hilda triangle</a>
        </li>
        <li>
            <a href="#OtherSmallGroups">Other small groups</a>
        </li>
    </ul>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
