<li>
    <a href="#Observation">Observation</a>
</li>
<li>
    <a href="#Structure">Structure</a>
</li>
<li>
    <a href="#OrbitalClassification">Orbital classification</a>
    <ul class="subtoc">
        <li>
            <a href="#ShortPeriodComets">Short-period comets</a>
        </li>
        <li>
            <a href="#LongPeriodComets">Long-period comets</a>
        </li>
        <li>
            <a href="#NonPeriodComets">Non-periodic comets</a>
        </li>
    </ul>
</li>
<li>
    <a href="#SpecialTypes">Special types</a>
    <ul class="subtoc">
        <li>
            <a href="#Sungrazers">Sungrazers</a>
        </li>
        <li>
            <a href="#Centaurs">Centaurs</a>
        </li>
        <li>
            <a href="#InterstellarComets">Interstellar comets</a>
        </li>
        <li>
            <a href="#ActiveAsteroids">Active asteroids</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Fate">Fate</a>
    <ul class="subtoc">
        <li>
            <a href="#Disintegration">Disintegration</a>
        </li>
        <li>
            <a href="#Impact">Impact</a>
        </li>
        <li>
            <a href="#Ejection">Ejection</a>
        </li>
        <li>
            <a href="#Extinction">Extinction</a>
        </li>
    </ul>
</li>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
