<li>
    <a href="#Definition">Definition</a>
</li>
<li>
    <a href="#DiscoveryOfCentaurs">Discovery of centaurs</a>
</li>
<li>
    <a href="#Characteristics">Characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#Orbits">Orbits</a>
        </li>
        <li>
            <a href="#Size">Size</a>
        </li>
        <li>
            <a href="#Composition">Composition</a>
        </li>
        <li>
            <a href="#Rings">Rings</a>
        </li>
    </ul>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
