<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#Criteria">Criteria</a>
</li>
<li>
    <a href="#OfficiallyRecognisedDwarfPlanets">Officially recognised dwarf planets</a>
    <ul class="subtoc">
        <li>
            <a href="#Pluto">Pluto</a>
        </li>
        <li>
            <a href="#Eris">Eris</a>
        </li>
        <li>
            <a href="#Haumea">Haumea</a>
        </li>
        <li>
            <a href="#Makemake">Makemake</a>
        </li>
        <li>
            <a href="#Ceres">Ceres</a>
        </li>
    </ul>
</li>
<li>
    <a href="#PotentialDwarfPlanets">Potential dwarf planets</a>
    <ul class="subtoc">
        <li>
            <a href="#Gonggong">Gonggong</a>
        </li>
        <li>
            <a href="#Quaoar">Quaoar</a>
        </li>
        <li>
            <a href="#Sedna">Sedna</a>
        </li>
        <li>
            <a href="#Orcus">Orcus</a>
        </li>
        <li>
            <a href="#Salacia">Salacia</a>
        </li>
    </ul>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
