<li>
    <a href="#FormationAndDevelopment">Formation and development</a>
    <ul class="subtoc">
        <li>
            <a href="#PrimordialEarth">Primordial Earth</a>
        </li>
        <li>
            <a href="#FormationOfLifeTheories">Formation of life theories</a>
        </li>
        <li>
            <a href="#EvolutionOfLife">Evolution of life</a>
        </li>
    </ul>
</li>
<li>
    <a href="#OrbitAndRotation">Orbit and rotation</a>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#Shape">Shape</a>
        </li>
        <li>
            <a href="#Interior">Interior</a>
        </li>
        <li>
            <a href="#Surface">Surface</a>
        </li>
        <li>
            <a href="#Atmosphere">Atmosphere</a>
        </li>
        <li>
            <a href="#Hydrosphere">Hydrosphere</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Moon">Moon</a>
</li>
<li>
    <a href="#SpaceExploration">Space exploration</a>
    <ul class="subtoc">
        <li>
            <a href="#SpaceRace">Space Race</a>
        </li>
        <li>
            <a href="#ISSAndSpaceTelescopes">ISS and space telescopes</a>
        </li>
    </ul>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
