<li>
    <a href="#Naming">Naming</a>
</li>
<li>
    <a href="#DetectionMethods">Detection methods</a>
    <ul class="subtoc">
        <li>
            <a href="#DirectImaging">Direct imaging</a>
        </li>
        <li>
            <a href="#PulsarTiming">Pulsar timing</a>
        </li>
        <li>
            <a href="#Astrometry">Astrometry</a>
        </li>
        <li>
            <a href="#Microlensing">Microlensing</a>
        </li>
        <li>
            <a href="#TransitDurationVariation">Transit duration variation</a>
        </li>
        <li>
            <a href="#TransitTimingVariation">Transit timing variation</a>
        </li>
        <li>
            <a href="#RadialVelocity">Radial velocity</a>
        </li>
        <li>
            <a href="#Transit">Transit</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Habitability">Habitability</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
