<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#Name">Name</a>
</li>
<li>
    <a href="#OrbitAndRotation">Orbit and rotation</a>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#ShapeAndSize">Shape and size</a>
        </li>
        <li>
            <a href="#Structure">Structure</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Skamandrios">Skamandrios</a>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
