<li>
    <a href="#Name">Name</a>
</li>
<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#OrbitAndRotation">Orbit and rotation</a>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#Size">Size</a>
        </li>
        <li>
            <a href="#InternalStructure">Internal structure</a>
        </li>
        <li>
            <a href="#Surface">Surface</a>
        </li>
        <li>
            <a href="#VolcanicActivity">Volcanic Activity</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
