<li>
    <a href="#Name">Name</a>
</li>
<li>
    <a href="#OrbitAndRotation">Orbit and rotation</a>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#SizeAndMass">Size and mass</a>
        </li>
        <li>
            <a href="#InternalStructure">Internal structure</a>
        </li>
        <li>
            <a href="#Atmosphere">Atmosphere</a>
        </li>
        <li>
            <a href="#Rings">Rings</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Moons">Moons</a>
    <ul class="subtoc">
        <li>
            <a href="#Ganymede">Ganymede</a>
        </li>
        <li>
            <a href="#Callisto">Callisto</a>
        </li>
        <li>
            <a href="#Io">Io</a>
        </li>
        <li>
            <a href="#Europa">Europa</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Trojans">Trojans</a>
</li>
<li>
    <a href="#EarlyObservations">Early observations</a>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
