<li>
    <a href="#Formation">Formation</a>
</li>
<li>
    <a href="#Orbit">Orbit</a>
    <ul class="subtoc">
        <li>
            <a href="#Phases">Phases</a>
        </li>
        <li>
            <a href="#Eclipses">Eclipses</a>
        </li>
    </ul>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#Size">Size</a>
        </li>
        <li>
            <a href="#InternalStructure">Internal structure</a>
        </li>
        <li>
            <a href="#Surface">Surface</a>
        </li>
        <li>
            <a href="#LunarMaria">Lunar maria</a>
        </li>
        <li>
            <a href="#AtmosphereAndHydrosphere">Atmosphere and hydrosphere</a>
        </li>
    </ul>
</li>
<li>
    <a href="#EarlyObservations">Early observations</a>
</li>
<li>
    <a href="#Exploration">Exploration</a>
    <ul class="subtoc">
        <li>
            <a href="#LunaProgram">Luna program</a>
        </li>
        <li>
            <a href="#ApolloProgram">Apollo program</a>
        </li>
        <li>
            <a href="#LaterMissions">Later missions</a>
        </li>
    </ul>
</li>
<li>
    <a href="#CulturalSignificance">Cultural significance</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
