<li>
    <a href="#HistoryAndDefiningSatellites">History and defining satellites</a>
</li>
<li>
    <a href="#SatellitesOfPlanets">Satellites of planets</a>
    <ul class="subtoc">
        <li>
            <a href="#TheMoon">The Moon</a>
        </li>
        <li>
            <a href="#SatellitesOfMars">Satellites of Mars</a>
        </li>
        <li>
            <a href="#GalileanSatellites">Galilean satellites</a>
        </li>
        <li>
            <a href="#OtherJovianSatellites">Other Jovian satellites</a>
        </li>
        <li>
            <a href="#SatellitesOfSaturn">Satellites of Saturn</a>
        </li>
        <li>
            <a href="#SatellitesOfUranus">Satellites of Uranus</a>
        </li>
        <li>
            <a href="#SatellitesOfNeptune">Satellites of Neptune</a>
        </li>
    </ul>
</li>
<li>
    <a href="#SatellitesOfDwarfPlanets">Satellites of dwarf planets</a>
</li>
<li>
    <a href="#SatellitesOfAsteroids">Satellites of asteroids</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
