<li>
    <a href="#DiscoveryOfThePlanets">Discovery of the planets</a>
</li>
<li>
    <a href="#PlanetsOfTheSolarSystem">Planets of the Solar System</a>
    <ul class="subtoc">
        <li>
            <a href="#Mercury">Mercury</a>
        </li>
        <li>
            <a href="#Venus">Venus</a>
        </li>
        <li>
            <a href="#Earth">Earth</a>
        </li>
        <li>
            <a href="#Mars">Mars</a>
        </li>
        <li>
            <a href="#Jupiter">Jupiter</a>
        </li>
        <li>
            <a href="#Saturn">Saturn</a>
        </li>
        <li>
            <a href="#Uranus">Uranus</a>
        </li>
        <li>
            <a href="#Neptune">Neptune</a>
        </li>
    </ul>
</li>
<li>
    <a href="#DwarfPlanets">Dwarf planets</a>
</li>
<li>
    <a href="#Exoplanets">Exoplanets</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
