<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#Names">Names</a>
</li>
<li>
    <a href="#Satellites">Satellites</a>
    <ul class="subtoc">
        <li>
            <a href="#Charon">Charon</a>
        </li>
        <li>
            <a href="#Hydra">Hydra</a>
        </li>
        <li>
            <a href="#Nix">Nix</a>
        </li>
        <li>
            <a href="#Kerberos">Kerberos</a>
        </li>
        <li>
            <a href="#Styx">Styx</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
