<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#Names">Names</a>
</li>
<li>
    <a href="#Groups">Groups</a>
    <ul class="subtoc">
        <li>
            <a href="#InnerMoons">Inner moons</a>
        </li>
        <li>
            <a href="#GalileanMoons">Galilean moons</a>
        </li>
        <li>
            <a href="#ThemistoValetudoAndCarpoGroup">Themisto, Valetudo, and Carpo group</a>
        </li>
        <li>
            <a href="#HimaliaGroup">Himalia group</a>
        </li>
        <li>
            <a href="#AnankeGroup">Ananke group</a>
        </li>
        <li>
            <a href="#PasiphaeGroup">Pasiphae group</a>
        </li>
        <li>
            <a href="#CarmeGroup">Carme group</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
