<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#Names">Names</a>
</li>
<li>
    <a href="#Groups">Groups</a>
    <ul class="subtoc">
        <li>
            <a href="#InnerMoons">Inner moons</a>
        </li>
        <li>
            <a href="#MajorMoons">Major moons</a>
        </li>
        <li>
            <a href="#UngroupedRetrogradeMoons">Ungrouped retrograde moons</a>
        </li>
        <li>
            <a href="#CalibanGroup">Caliban group</a>
        </li>
        <li>
            <a href="#Margaret">Margaret</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
