<li>
    <a href="#Name">Name</a>
</li>
<li>
    <a href="#OrbitAndRotation">Orbit and rotation</a>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#ShapeAndSize">Shape and size</a>
        </li>
        <li>
            <a href="#InternalStructure">Internal structure</a>
        </li>
        <li>
            <a href="#Atmosphere">Atmosphere</a>
        </li>
        <li>
            <a href="#RingSystem">Ring system</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Satellites">Satellites</a>
    <ul class="subtoc">
        <li>
            <a href="#Titan">Titan</a>
        </li>
        <li>
            <a href="#Rhea">Rhea</a>
        </li>
        <li>
            <a href="#Iapetus">Iapetus</a>
        </li>
        <li>
            <a href="#Dione">Dione</a>
        </li>
        <li>
            <a href="#Tethys">Tethys</a>
        </li>
        <li>
            <a href="#Enceladus">Enceladus</a>
        </li>
        <li>
            <a href="#Mimas">Mimas</a>
        </li>
        <li>
            <a href="#OtherRegularMoons">Other regular moons</a>
        </li>
        <li>
            <a href="#OuterMoons">Outer moons</a>
        </li>
    </ul>
</li>
<li>
    <a href="#EarlyObservations">Early observations</a>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
