<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#Classification">Classification</a>
    <ul class="subtoc">
        <li>
            <a href="#KuiperBeltObjects">Kuiper belt objects</a>
        </li>
        <li>
            <a href="#ScatteredDiscObjects">Scattered disc objects</a>
        </li>
        <li>
            <a href="#ExtremeTransNeptunianObjects">Extreme trans-Neptunian objects</a>
        </li>
    </ul>
</li>
<li>
    <a href="#VisitedTNOs">Visited TNOs</a>
    <ul class="subtoc">
        <li>
            <a href="#Pluto">Pluto</a>
        </li>
        <li>
            <a href="#Arrokoth">Arrokoth</a>
        </li>
    </ul>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
