<li>
    <a href="#Name">Name</a>
</li>
<li>
    <a href="#Discovery">Discovery</a>
</li>
<li>
    <a href="#OrbitAndRotation">Orbit and rotation</a>
</li>
<li>
    <a href="#PhysicalCharacteristics">Physical characteristics</a>
    <ul class="subtoc">
        <li>
            <a href="#Size">Size</a>
        </li>
        <li>
            <a href="#InternalStructure">Internal structure</a>
        </li>
        <li>
            <a href="#AtmosphereAndClimate">Atmosphere and climate</a>
        </li>
        <li>
            <a href="#Rings">Rings</a>
        </li>
    </ul>
</li>
<li>
    <a href="#Satellites">Satellites</a>
</li>
<li>
    <a href="#Exploration">Exploration</a>
</li>
<li>
    <a href="#ExternalLinks">External links</a>
</li>
