
:root{
    --font:hsl(260,11%,95%);
    --border:hsl(260,11%,40%);
}
@font-face {
    font-family:"Aleo";
    src:url(fonts/Aleo-Regular.otf);
    font-style:normal;
}

body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    line-height:1.5;
    background:url(background.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    color:var(--font);
    word-wrap: break-word;
    font-family:"Aleo";
    box-sizing:border-box;
}

/* Colors of elements */

.navigationmenu, aside, .mapdiv{
    background-color:hsl(260,11%,10%);
}
.navbutton, .featuredbutton, .navbutton:hover .dropbutton, .asidetitle, .toc, .maincontent, footer{
    background-color:hsl(260,11%,20%);
}
.captionbox, .firstrow{
    background-color:hsl(260,11%,30%);
}
footer{
    color:hsl(260,11%,80%);
}
.navbutton:hover, .navbutton:hover .dropbutton:hover, .featuredbutton:hover{
    background-color:rgb(55,45,96);
}

/* Hyperlinks */

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:link{
    color:lightskyblue;
}
a:visited{
    color:mediumpurple;
}
a[href='eris.html'],
a[href='haumea.html'],
a[href='makemake.html'],
a[href='phobos.html'],
a[href='deimos.html'],
a[href='rhea.html'],
a[href='iapetus.html'],
a[href='dione.html'],
a[href='tethys.html'],
a[href='mimas.html'],
a[href='hyperion.html'],
a[href='titania.html'],
a[href='oberon.html'],
a[href='umbriel.html'],
a[href='ariel.html'],
a[href='miranda.html'],
a[href='proteus.html'],
a[href='charon.html'],
a[href='dysnomia.html'],
a[href='gonggong.html'],
a[href='quaoar.html'],
a[href='sedna.html'],
a[href='orcus.html'],
a[href='vesta.html'],
a[href='comet.html'],
a[href='centaur.html'],
a[href='trojan.html']{
    color:lightsalmon;
}
.readmore{
    margin-left:2em;
}

/* Navigation */

@media only screen and (max-width:560px){
    /* Mobile */
    .navigationmenu, .navbutton, .featuredbutton{
        height:2em;
    }
    .navbutton, .dropbutton{
        width:80px;
    }    
    .navlink{
        font-size:12px;
    }
    .dropdown{
        top:2em;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    /* Medium size */
    .navigationmenu, .navbutton, .featuredbutton{
        height:2.5em;
    }
    .navbutton, .dropbutton{
        width:100px;
    }    
    .navlink{
        font-size:16px;
    }
    .dropdown{
        top:2.5em;
    }
}
@media only screen and (min-width:1201px){
    /* Desktop */
    .navigationmenu, .navbutton, .featuredbutton{
        height:3em;
    }
    .navbutton, .dropbutton{
        width:250px;
    }    
    .navlink{
        font-size:20px;
    }
    .dropdown{
        top:3em;
    }
}
nav{
    position:fixed;
    top:0;
    margin:0;
    width:100%;
    font-size:1em;
    border-bottom:1px solid var(--border);
    z-index:3;
}
.navigationmenu{
    text-align:center;
    margin:0;
    font-size:1em;
    padding-left:0;
    padding-right:0;
}
.navlogo{
    display:inline-block;
    float:left;
    margin-left:5px;
    margin-right:10%;
}

/* Buttons */

.navbutton, .dropbutton, .featuredbutton{
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    list-style:none;
    font-size:1em;
    outline:1px solid var(--border);
}
.navbutton{
    position: relative;
    padding:0;
    display:inline-block;
}
.featuredbutton{
    margin:5px;
    position: relative;
    padding:15px 0px;
    text-align:center;
}
.navlink{
    text-decoration:none;
    display:block;
    color:var(--font) !important;
    width:100%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Drop down */

.dropdown{
    display:none;
    position:relative;
    margin:0;
    z-index:4;
}
.navbutton:hover .dropdown, .dropdown ul{
    display:block;
}
.dropbutton{
    margin-left:-40px;
    margin-top:1px;
    margin-bottom:1px;
    height:1em;
    position:relative;
}

/* Side elements */
@media only screen and (max-width:560px){
    aside{
        display:none;
        width:50%;
        padding-top:2em;
        height:calc(100vh - 2em);
    }
    .asidetitle{
        font-size:12px;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    aside{
        width:20%;
        padding-top:2.5em;
        height:calc(100vh - 2.5em);
    }
    .asidetitle{
        font-size:16px;
    }
}
@media only screen and (min-width:1201px){
    aside{
        width:10%;
        padding-top:3em;
        height:calc(100vh - 3em);
    }
    .asidetitle{
        font-size:20px;
    }
}
aside{
    position:sticky;
    top:0;
    float:left;
    outline:1px solid var(--border);
    z-index:2;
    overflow:scroll;
}
.asidetitle{
    padding:.6em;
    padding-left:5px;
}
.toc{
    padding-left:15px;
    margin-bottom:180px;
    border-top:1px solid var(--border);
    border-bottom:1px solid var(--border);
}
.subtoc{
    padding-left:5px;
}

/* Main content */

@media only screen and (max-width:560px){
    .maincolumn{
        margin:auto;
        width:100%;
    }
    .bigpageheader{
        font-size:48px;
    }
    .bigpageheader{
        margin-top:1em;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4, .maincontent table, .mapdiv{
        margin:auto;
        width:90%;
        margin-top:5px;
        margin-bottom:5px;
    }
    .paragraph, .readmore{
        font-size:14px;
    }
    .maincontent .captionbox{
        margin-right:5%;
        margin-left:5%;
    }
    .imgwrapper .captionbox{
        margin-right:2.5% !important;
        margin-left:2.5% !important;
    }
    .wrapper{
        margin:auto;
        width:90%;
    }
    .captionbox{
        padding:1px;
        border:1px double var(--font);
    }
    .clip{
        width:120px;
        height:120px;
    }
    table{
        font-size:10px;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    .maincolumn{
        width:80%;
    }
    .bigpageheader{
        font-size:48px;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4, .maincontent table, .mapdiv{
        margin-right:2.5%;
        margin-left:2.5%;
    }
    .paragraph, .readmore{
        font-size:16px;
    }
    .imgwrapper .captionbox{
        margin-right:2.5% !important;
        margin-left:2.5% !important;
    }
    .captionbox{
        margin-right:2.5% !important;
        padding:2px;
        border:2px double var(--font);
    }
    .center{
        margin-left:2.5% !important;
    }
    .clip{
        width:180px;
        height:180px;
    }
    table{
        display:inline-block;
    }
}
@media only screen and (min-width:1201px){
    .maincolumn{
        /*padding-left:11%;*/
        width:90%;
    }
    .bigpageheader{
        font-size:64px;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4, .maincontent table, .mapdiv{
        margin-right:5%;
        margin-left:5%;
    }
    .paragraph, .readmore{
        font-size:18px;
    }
    .imgwrapper .captionbox{
        margin-right:2.5% !important;
        margin-left:2.5% !important;
    }
    .captionbox{
        margin-right:5% !important;
        padding:3px;
        border:3px double var(--font);
    }
    .center{
        margin-left:5% !important;
    }
    .clip{
        width:240px;
        height:240px;
    }
    table{
        display:inline-block;
    }
}
.maincolumn{
    float:left;
}
.bigpageheader, .smallpageheader{
    text-align:center;
}
.bigpageheader{
    margin-bottom:0px;
}
.smallpageheader{
    font-size:26px;
}
.maincontent{
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:300px;
    border-top:1px solid var(--border);
    border-bottom:1px solid var(--border);
}
.maincontent h2::after{
    content:'';
    display:block;
    background-color:var(--border);
    height:1px;
    width:25%;
}
.paragraphheader, .paragraphsubheader{
    margin-top:0px;
}
.articlediv{
    overflow:auto;
}

/* Images */

@media only screen and (max-width:560px){
    .imgwrapper{
        margin:auto;
    }
}
.imgwrapper{
    margin-left:5%;
    border-left:1px solid var(--font);
}
.captionbox{
    display:inline-block;
    justify-content:center;
    margin:28px;
    font-size:0;
}
.right{
    float:right;
    margin-right:0px;
}
.center{
}
@media only screen and (max-width:560px){
    .caption{
        font-size:8px;
    }
    .h240 img{
        height:100px;
    }
    .h180 img{
        height:50px;
    }
    .h120 img{
        height:25px;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    .caption{
        font-size:11px;
    }
    .h240 img{
        height:120px;
    }
    .h180 img{
        height:60px;
    }
    .h120 img{
        height:40px;
    }
}
@media only screen and (min-width:1201px){
    .caption{
        font-size:14px;
    }
    .h240 img{
        height:240px;
    }
    .h180 img{
        height:180px;
    }
    .h120 img{
        height:120px;
    }
}
.caption{
    display: table-caption;
    width:90%;
    margin:1px;
    margin-top:0;
    margin-bottom:5px;
}
.articleimage, .articlevideo{
    margin:1px;
}
.clip{
    object-fit: cover;
}
/* Tables */

.wrapper{
    margin:28px;
}
table{
    border-collapse:collapse;
    outline:3px double var(--font);
}
th{
    border:1px solid var(--font);
    padding-left:4px;
    padding-right:4px;
}

/* Footer */

footer{
    width:100%;
    float:bottom;
    margin-bottom:0;
    display:table;
    border-top:1px solid var(--border);
    position:relative;
    z-index:4;
}
footer p{
    margin-left:25px;
}
