
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    line-height:1.5;
    background:url(background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    color:white;
    word-wrap: break-word;
    font-family:"Ubuntu", sans-serif;
    box-sizing:border-box;
}

/* Colors of elements */

.navigationmenu, .asideleft{
    background-color:hsl(260,11%,10%);
}
.navbutton, .navbutton:hover .dropbutton, .asidetitle, .toc, .maincontent, footer{
    background-color:hsl(260,11%,20%);
}
.captionbox, .firstrow{
    background-color:hsl(260,11%,30%);
}
footer{
    color:hsl(260,11%,60%);
}

/* Hyperlinks */

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:link{
    color:lightskyblue;
}
a:visited{
    color:mediumpurple;
}
.readmore{
    margin-left:2em;
}

/* Navigation */

@media only screen and (max-width:560px){
    /* Mobile */
    .navigationmenu, .navbutton{
        height:2em;
    }
    .navbutton, .dropbutton{
        width:80px;
    }    
    .navlink{
        font-size:12px;
    }
    .dropdown{
        top:2em;
    }
}
@media only screen and (min-width:560px) and (max-width:1200px){
    /* Medium size */
    .navigationmenu, .navbutton{
        height:2.5em;
    }
    .navbutton, .dropbutton{
        width:100px;
    }    
    .navlink{
        font-size:16px;
    }
    .dropdown{
        top:2.5em;
    }
}
@media only screen and (min-width:1200px){
    /* Desktop */
    .navigationmenu, .navbutton{
        height:3em;
    }
    .navbutton, .dropbutton{
        width:250px;
    }    
    .navlink{
        font-size:20px;
    }
    .dropdown{
        top:3em;
    }
}
nav{
    position:fixed;
    top:0;
    margin:0;
    width:100%;
    font-size:1em;
    border-bottom:1px solid hsl(260,11%,40%);
    z-index:3;
}
.navigationmenu{
    text-align:center;
    margin:0;
    font-size:1em;
    padding-left:0;
    padding-right:0;
}
.navlogo, .navbutton{
    display:inline-block;
}
.navlogo{
    display:inline-block;
    float:left;
    margin-left:5px;
    margin-right:10%;
}

/* Buttons */

.navbutton, .dropbutton{
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    list-style:none;
    font-size:1em;
    outline:1px solid hsl(260,11%,40%);
}
.navbutton{
    display:inline-block;
    padding:0;
    position: relative;
}
.navbutton:hover, .navbutton:hover .dropbutton:hover{
    background-color:rgb(55,45,96);
}
.navlink{
    text-decoration:none;
    display:block;
    color:white !important;
    width:100%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Drop down */

.dropdown{
    display:none;
    position:relative;
    margin:0;
    z-index:4;
}
.navbutton:hover .dropdown{
    display:block;
}
.dropdown ul{
    display:block;
}
.dropbutton{
    margin-left:-40px;
    margin-top:1px;
    margin-bottom:1px;
    height:1em;
    position:relative;
}

/* Side elements */
@media only screen and (max-width:560px){
    .asideleft{
        display:none;
        width:50%;
        padding-top:2em;
        height:calc(100vh - 2em);
    }
    .asidetitle{
        font-size:12px;
    }
}
@media only screen and (min-width:560px) and (max-width:1200px){
    .asideleft{
        width:20%;
        padding-top:2.5em;
        height:calc(100vh - 2.5em);
    }
    .asidetitle{
        font-size:16px;
    }
}
@media only screen and (min-width:1200px){
    .asideleft{
        width:10%;
        padding-top:3em;
        height:calc(100vh - 3em);
    }
    .asidetitle{
        font-size:20px;
    }
}
.asideleft{
    position:sticky;
    top:0;
    float:left;
    outline:1px solid hsl(260,11%,40%);
    z-index:2;
    overflow:scroll;
}
.asidetitle{
    padding:.6em;
    padding-left:5px;
}
.toc{
    padding-left:15px;
    margin-bottom:180px;
    border-top:1px solid hsl(260,11%,40%);
    border-bottom:1px solid hsl(260,11%,40%);
}
.subtoc{
    padding-left:5px;
}

/* Main content */

@media only screen and (max-width:560px){
    .maincolumn{
        margin:auto;
        width:100%;
    }
    .bigpageheader{
        margin-top:1em;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4{
        margin:auto;
        width:90%;
        margin-top:5px;
        margin-bottom:5px;
    }
    .maincontent .captionbox{
        margin-right:5%;
        margin-left:5%;
    }
    .wrapper{
        margin:auto;
        width:90%;
    }
    table{
        font-size:10px;
    }
}
@media only screen and (min-width:560px) and (max-width:1200px){
    .maincolumn{
        width:80%;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4{
        margin-right:5%;
        margin-left:20px;
    }
    table{
        display:inline-block;
    }
}
@media only screen and (min-width:1200px){
    .maincolumn{
        /*padding-left:11%;*/
        width:90%;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4{
        margin-right:15%;
        margin-left:20px;
    }
    .captionbox{
        margin-right:15% !important;
    }
    table{
        display:inline-block;
    }
}
.maincolumn{
    float:left;
    color:white;
}
.bigpageheader, .smallpageheader{
    text-align:center;
}
.bigpageheader{
    font-size:64px;
    margin-bottom:0px;
}
.smallpageheader{
    font-size:26px;
}
.maincontent{
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:300px;
    border-top:1px solid hsl(260,11%,40%);
    border-bottom:1px solid hsl(260,11%,40%);
}
.paragraphheader, .paragraphsubheader{
    color:white;
}
.articlediv{
    overflow:auto;
}
.paragraph{
    font-size:18px;
}

/* Images */

.captionbox{
    display:inline-block;
    justify-content:center;
    border:3px double hsl(260,11%,90%);
    margin:28px;
    padding:3px;
    font-size:0;
}
.right{
    float:right;
    margin-right:0px;
}
.center{
}
.caption{
    font-size:14px;
    display:block;
    margin:1px;
    margin-top:0;
    margin-bottom:5px;
}
.articleimage, .articlevideo{
    margin:1px;
}

/* Tables */

.wrapper{
    margin:28px;
}
table{
    border-collapse:collapse;
    outline:3px double hsl(260,11%,90%);
}
th{
    border:1px solid hsl(260,11%,90%);
    padding-left:4px;
    padding-right:4px;
}

/* Footer */

footer{
    width:100%;
    float:bottom;
    margin-bottom:0;
    display:table;
    border-top:1px solid hsl(260,11%,40%);
    position:relative;
    z-index:4;
    padding-left:25px;
}
