
:root{
    --font:hsl(260,11%,95%);
    --border:hsl(260,11%,40%);
}
@font-face {
    font-family:"Aleo";
    src:url(fonts/Aleo-Regular.otf);
    font-style:normal;
}
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    line-height:1.5;
    background:url(background.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    color:var(--font);
    word-wrap: break-word;
    font-family:"Aleo";
    box-sizing:border-box;
    scrollbar-color:var(--font) rgb(55,45,96);
}

/* Colors of elements */

.navigationmenu, aside, .mapdiv{
    background-color:hsl(260,11%,10%);
}
.navbutton, .featuredbutton, .navbutton:hover .dropbutton, .asidetitle, .toc, .maincontent, footer{
    background-color:hsl(260,11%,20%);
}
.captionbox, .firstrow, .cat{
    background-color:hsl(260,11%,30%);
}
footer{
    color:hsl(260,11%,80%);
}
.navbutton:hover, .navbutton:hover .dropbutton:hover, .featuredbutton:hover, .cat p{
    background-color:rgb(55,45,96);
}

/* Hyperlinks */

a{
    text-decoration: none;
}
.current{
    cursor:default;
    color:var(--font) !important;
    text-decoration:none !important;
    pointer-events:none;
    font-weight:bold;
}
a:hover{
    text-decoration: underline;
}
a:link{
    color:lightskyblue;
}
a:visited{
    color:mediumpurple;
}
a[href='halley.html'],
a[href='janus.html'],
a[href='epimetheus.html'],
a[href='puck.html'],
a[href='proteus.html'],
a[href='dysnomia.html'],
a[href='orcus.html'],
a[href='salacia.html'],
a[href='nebula.html'],
a[href='black-hole.html'],
a[href='patientia.html'],
a[href='camilla.html'],
a[href='bamberga.html'],
a[href='thisbe.html'],
a[href='doris.html'],
a[href='fortuna.html'],
a[href='hermione.html'],
a[href='themis.html'],
a[href='aurora.html'],
a[href='amphitrite.html'],
a[href='egeria.html'],
a[href='justitia.html'],
a[href='phaethon.html'],
a[href='patroclus.html']{
    color:lightsalmon;
}
.readmore{
    margin-left:2em;
    font-style:italic;
}

/* Navigation */

@media only screen and (max-width:560px){
    /* Mobile */
    .navigationmenu, .navbutton, .featuredbutton{
        height:2em;
    }
    .navbutton, .dropbutton{
        width:80px;
    }    
    .navlogo img{
        height:28px;
    }
    .navlink, .navlogo p{
        font-size:12px;
    }
    .navlogo p{
        left:48px;
    }
    .dropdown{
        top:2em;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    /* Medium size */
    .navigationmenu, .navbutton, .featuredbutton{
        height:2.5em;
    }
    .navbutton, .dropbutton{
        width:100px;
    }    
    .navlogo img{
        height:36px;
    }
    .navlink, .navlogo p{
        font-size:16px;
    }
    .navlogo p{
        left:56px;
    }
    .dropdown{
        top:2.5em;
    }
}
@media only screen and (min-width:1201px){
    /* Desktop */
    .navigationmenu, .navbutton, .featuredbutton{
        height:3em;
    }
    .navbutton, .dropbutton{
        width:250px;
    }    
    .navlogo img{
        height:44px;
    }
    .navlink, .navlogo p{
        font-size:20px;
    }
    .navlogo p{
        left:64px;
    }
    .dropdown{
        top:3em;
    }
}
nav{
    position:fixed;
    top:0;
    margin:0;
    width:100%;
    line-height:1em;
    border-bottom:1px solid var(--border);
    z-index:3;
}
.navigationmenu{
    margin:0;
    padding:0;
    text-align:center;
}
.navlogo{
    float:left;
    padding:1px 5px;
}
.navlogo p{
    position:absolute;
    margin:0;
    top:33%;
    font-weight:1000;
}

/* Buttons */

.navbutton, .dropbutton, .featuredbutton{
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    list-style:none;
    outline:1px solid var(--border);
}
.navbutton{
    position: relative;
    padding:0;
    display:inline-block;
}
.featuredbutton{
    margin:5px;
    position:relative;
    padding:15px 0px;
    text-align:center;
}
.navlink{
    display:block;
    color:var(--font) !important;
    width:100%;
    position:absolute;
    margin:0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Drop down */

.dropdown{
    display:none;
    position:relative;
    margin:0;
    z-index:4;
}
.navbutton:hover .dropdown, .dropdown ul{
    display:block;
}
.dropbutton{
    margin:1px 0px 1px -40px;
    height:1em;
    position:relative;
}

/* Side elements */
@media only screen and (max-width:560px){
    aside{
        display:none;
        width:50%;
        padding-top:2em;
        height:calc(100vh - 2em);
    }
    .asidetitle{
        font-size:12px;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    aside{
        width:20%;
        padding-top:2.5em;
        height:calc(100vh - 2.5em);
    }
    .asidetitle{
        font-size:16px;
    }
}
@media only screen and (min-width:1201px){
    aside{
        width:10%;
        padding-top:3em;
        height:calc(100vh - 3em);
    }
    .asidetitle{
        font-size:20px;
    }
}
aside{
    position:sticky;
    top:0;
    float:left;
    outline:1px solid var(--border);
    z-index:2;
    overflow:scroll;
}
.asidetitle{
    padding:.6em;
}
.toc{
    padding-left:15px;
    margin-bottom:180px;
    border-top:1px solid var(--border);
    border-bottom:1px solid var(--border);
}
.subtoc{
    padding-left:12.5px;
}

/* Main content */

@media only screen and (max-width:560px){
    .maincolumn{
        margin:auto;
        width:100%;
    }
    .bigpageheader{
        font-size:48px;
        margin-top:1em;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4, .mapdiv{
        margin:10px 5%;
    }
    .paragraph, .readmore, .maincontent li, .cat, .cath{
        font-size:14px;
    }
    .cattitle{
        font-size:16px;
    }
    .maincontent .captionbox{
        margin: 2.5vw 5vw 2.5vw 2.5vw;
    }
    .center{
        margin-left:5% !important;
    }
    .wrapper{
        margin:auto;
        width:90%;
    }
    .captionbox{
        padding:1px;
        border:1px double var(--font);
    }
    .clip{
        width:120px;
        height:120px;
    }
    table{
        margin:auto;
        width:95%;
        font-size:10px;
    }
    .columns{
        column-count:2;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    .maincolumn{
        width:80%;
    }
    .bigpageheader{
        font-size:48px;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4, .maincontent table, .mapdiv{
        margin-right:2.5%;
        margin-left:2.5%;
    }
    .paragraph, .readmore, .maincontent li, .cat, .cath{
        font-size:16px;
    }
    .cattitle{
        font-size:18px;
    }
    .maincontent .captionbox{
        margin:2.5vw;
    }
    .right{
        margin-right:2.5% !important;
    }
    .captionbox{
        padding:2px;
        border:2px double var(--font);
    }
    .clip{
        width:180px;
        height:180px;
    }
    table{
        font-size:13px;
    }
    .columns{
        column-count:3;
    }
}
@media only screen and (min-width:1201px){
    .maincolumn{
        /*padding-left:11%;*/
        width:90%;
    }
    .bigpageheader{
        font-size:64px;
    }
    .maincontent p, .maincontent ol, .maincontent ul, .maincontent h2, .maincontent h3, .maincontent h4, .maincontent table, .mapdiv{
        margin-right:5%;
        margin-left:5%;
    }
    .paragraph, .readmore, .maincontent li, .cat, .cath{
        font-size:18px;
    }
    .cattitle{
        font-size:20px;
    }
    .maincontent .captionbox{
        margin:2.5vw;
    }
    .right{
        margin-right:5% !important;
    }
    .captionbox{
        padding:3px;
        border:3px double var(--font);
    }
    .center{
        margin-left:5% !important;
    }
    .clip{
        width:240px;
        height:240px;
    }
    table{
        font-size:16px;
    }
    .columns{
        column-count:4;
    }
}
.maincolumn{
    float:left;
}
.bigpageheader{
    margin-bottom:0px;
    text-align:center;
}
.smallpageheader{
    font-size:26px;
    text-align:center;
}
.maincontent{
    padding:5px 0 10px 0;
    margin-bottom:300px;
    border-top:1px solid var(--border);
    border-bottom:1px solid var(--border);
}
.maincontent h2::after{
    content:'';
    display:block;
    background-color:var(--border);
    height:1px;
    width:25%;
}
.paragraphheader, .paragraphsubheader{
    margin-top:0px;
}
.articlediv{
    overflow:auto;
}

/* Images */

@media only screen and (max-width:560px){
    .caption{
        font-size:8px;
    }
    .h600 img, .h600 video{
        height:300px;
    }
    .h360 img, .h360 video{
        height:180px;
    }
    .h300 img, .h300 video{
        height:150px;
    }
    .h240 img, .h240 video{
        height:120px;
    }
    .h180 img, .h180 video{
        height:90px;
    }
    .h120 img, .h120 video{
        height:60px;
    }
    .center img{
        width:100%;
    }
}
@media only screen and (min-width:561px) and (max-width:1200px){
    .caption{
        font-size:11px;
    }
    .h600 img, .h600 video{
        height:400px;
    }
    .h360 img, .h360 video{
        height:240px;
    }
    .h300 img, .h300 video{
        height:200px;
    }
    .h240 img, .h240 video{
        height:160px;
    }
    .h180 img, .h180 video{
        height:120px;
    }
    .h120 img, .h120 video{
        height:80px;
    }
    .center img{
        max-width:412px;
    }
}
@media only screen and (min-width:1201px){
    .caption{
        font-size:14px;
    }
    .h600 img, .h600 video{
        height:600px;
    }
    .h360 img, .h360 video{
        height:360px;
    }
    .h300 img, .h300 video{
        height:300px;
    }
    .h240 img, .h240 video{
        height:240px;
    }
    .h180 img, .h180 video{
        height:180px;
    }
    .h120 img, .h120 video{
        height:120px;
    }
    .center img{
        max-width:984px;
    }
}
.imgwrapper{
    margin-left:5%;
    border-left:1px solid var(--font);
}
.captionbox{
    display:inline-block;
    justify-content:center;
    font-size:0;
}
.imgwrapper .captionbox{
    margin:2.5vw !important;
}
.right{
    float:right;
}
.caption{
    display: table-caption;
    width:90%;
    margin:0 1px 5px 1px;
}
.articleimage, .articlevideo{
    margin:1px;
}
.clip{
    object-fit: cover;
}
/* Tables */

.wrapper{
    margin:28px;
}
table{
    border-collapse:collapse;
    overflow:scroll;
    max-height:50vh;
    outline:3px double var(--font);
    display:inline-block;
}
th{
    border:1px solid var(--font);
    padding:1px 4px;
}

/* Categories */

.cat{
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto;
    margin:auto 2.5vw;
    border:1px solid var(--border);
}
.cat ul{
    margin:0;
    padding:2.5vw;
    list-style:none;
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:center;
}
.cat p{
    margin:0;
    padding:2.5px;
    outline:1px solid var(--border);
    text-align:center;
}
.cat li+li::before{
    content:"·";
    margin-left:3.5px;
}
.cath, .subcat{
    display:none;
}
.cat, .cat:hover .cath, .cat:hover .subcat{
    display:grid;
}
.cattitle, .catcenter{
    grid-column-start:1;
    grid-column-end:11;
    text-align:center;
}
.subcat{
    grid-template-columns:auto auto auto auto auto auto auto auto auto;
    grid-column-start:2;
    grid-column-end:11;
}
.subsubcat{
    grid-column-start:2;
    grid-column-end:10;
}
.subcat ul{
    padding:0;
    justify-content:left;
}
.subcat ul:before{
    content:"";
    width:0.5vw;
    display:inline;
}

/* Footer */

footer{
    width:100%;
    float:bottom;
    margin-bottom:0;
    display:table;
    border-top:1px solid var(--border);
    position:relative;
    z-index:4;
}
footer p{
    margin-left:25px;
}
